In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/Naive-Bayes-Classification-Data[1].csv")
df

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [3]:
df.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [4]:
df.tail()

     glucose  bloodpressure  diabetes
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

In [5]:
df.isna().sum()

glucose          0
bloodpressure    0
diabetes         0
dtype: int64

In [7]:
df.columns

Index(['glucose', 'bloodpressure', 'diabetes'], dtype='object')

In [8]:
df1=df.groupby('diabetes')['diabetes'].count()
df1

diabetes
0    497
1    498
Name: diabetes, dtype: int64

In [9]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [13]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x,y)
pred=model.predict([[40,30]])
print(pred)

[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(